<div class="page-header"> 
  <h1>Managerie</h1>
</div>

   <% @products.each do |product| %> 
      <div class = "specie"> 
        <%= image_tag(product.image_url, class: 'image') %> 
        <br /> 
         <h3><strong> <%= product.title %> </strong> </h3>
        <%= truncate(strip_tags(product.description), length: 80) %> <br /> 
          <span class="admin">
            <%= link_to 'Show' , product %>
            <%= link_to 'Edit' , edit_product_path(product) %>
            <%= link_to 'Delete' , product, method: :delete, data: { confirm: 'Are you sure?' } %> 
                

          </span> 
      </div>
    </br> 
   

      <% end %>

    <%= link_to 'Post New Creature' , new_product_path, class: "btn btn-info" %>  
 <br /> 