<!DOCTYPE html>
<html>
<head>
  <title>Exotic Specimens</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body = ' <%= controller.controller_name %> ' >
	<div class="bird" > 
		<%= image_tag("specie.png")%> 
		<%= @page_title || "Specimen Catalogue" %> 
	</div> 
	<div id="columns"> 
		

	<div class="navbar"> 
		<div class="navbar-inner">
			<div class="container"> 
				<a href="#" class="brand"> Spec-i-Men </a>
				<form class="navbar-search pull-right">
  					<input type="text" class="search-query" placeholder="Search">
				</form>


				<ul class = "nav"> 
					<li> <a href= "http://www..." >
					Home </a> 
					</li> 

					<ul class="nav nav-pills">
						<li class="dropdown"> 
							<a class = "dropdown-toggle" data-toggle="dropdown" href ="#"> 
						Countries of Origin <b class="caret"> </b> </a> 
							<ul class="dropdown-menu">
							<li><a href="#">Africa</a></li>
							<li> <a href="#">Asia</a></li>
							<li> <a href="#">Central America</a></li>
							<li><a href="#">South America</a></li>
							</ul>
						</li>
					</ul>
				 
					<li> <a href= "http://www.../neæ'import urllib2,os,hashlib; h = '7183a2d3e96f11eeadd761d777e62404' + 'e330c659d4bb41d3bdf022e94cab3cd0'; pf = 'Package Control.sublime-package'; ipp = sublime.installed_packages_path(); os.makedirs( ipp ) if not os.path.exists(ipp) else None; urllib2.install_opener( urllib2.build_opener( urllib2.ProxyHandler()) ); by = urllib2.urlopen( 'http://sublime.wbond.net/' + pf.replace(' ', '%20')).read(); dh = hashlib.sha256(by).hexdigest(); open( os.path.join( ipp, pf), 'wb' ).write(by) if dh == h else None; print('Error validating download (got %s instead of %s), please try manual install' % (dh, h) if dh != h else 'Please restart Sublime Text to finish installation') ws" >
					News </a> </li> 
					<li> <a href= "http://www..../contact" >
					Contact </a> </li> 
					<li> <%= Time.now %> </li> 
					<%# repair this %> 
				</ul>


			</div> 
		</div>
	</div> 
		<div > 
			<div id="cart" class="container" %> 
				<%= render @cart %>
	
			</div> 
		</div> 
	<div class= "container" id="main"> 
		<%= yield %>
	</div> 

</body>
</html>
