<!DOCTYPE html>
<html>
<head>
  <title>Exotic Specimens</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body = ' <%= controller.controller_name %> ' >
	<div class="bird" > 
		<%= image_tag("specie.png")%> 
		<%= @page_title || "Specimen Catalogue" %> 
	</div> 
	<div id="columns"> 
		<div id="side"> 

		</div> 



	<div class="navbar"> 
		<div class="navbar-inner">
			<div class="container"> 
				<a href="#" class="brand"> Spec-i-Men </a>
				<form class="navbar-search pull-right">
  					<input type="text" class="search-query" placeholder="Search">
				</form>


								<ul class = "nav"> 
					<li> <a href= "http://www..." >
					Home </a> </li> 

					<ul class="nav nav-pills">
						<li class="dropdown"> 
							<a class = "dropdown-toggle" data-toggle="dropdown" href ="#"> 
						Countries of Origin <b class="caret"> </b> </a> 
							<ul class="dropdown-menu">
							<li><a href="#">Africa</a></li>
							<li> <a href="#">Asia</a></li>
							<li> <a href="#">Central America</a></li>
							<li><a href="#">South America</a></li>
							</ul>
						</li>
					</ul>



				</li> 
					<li> <a href= "http://www.../news" >
					News </a> </li> 
					<li> <a href= "http://www..../contact" >
					Contact </a> </li> 
					<li> <%= Time.now %> </li> 
					<%# repair this %> 

				</ul>



			</div> 
		</div>
	</div> 

	<div class="container"> 
		<%= yield %>
	</div> 

</body>
</html>
